### Project ###

# Ignore local database file from example
example_project/db.sqlite3

### Python ###
__pycache__/
.pytest_cache/
*.py[cod]

# Packaging
MANIFEST

*.egg-info/
build/
dist/
beta_dist/

# Testing
.coverage
coverage.xml
junit.xml
junit-integration.xml

.cache/
.tox/
htmlcov/
